name: Atualizar vídeos do YouTube

on:
  schedule:
    - cron: "0 * * * *"   # executa a cada 1 hora
  workflow_dispatch:     # permite rodar manualmente

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Baixar código
        uses: actions/checkout@v4

      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Instalar dependências
        run: npm install

      - name: Executar script
        run: node index.js
        env:
          NOTION_TOKEN: ${{ secrets.NOTION_TOKEN }}
          DATABASE_ID: ${{ secrets.DATABASE_ID }}
